src/main/resources/vocabularyIndex.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Wed Feb 20 2019 09:59:17 GMT+0000 (Greenwich Mean Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="vocabularyIndex">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="vocabulary" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:attribute name="version" type="xs:string"></xs:attribute>
                                       <xs:attribute name="name" type="xs:string"></xs:attribute>
                                       <xs:attribute name="id" type="xs:string"></xs:attribute>
                                       <xs:attribute name="memberCount" type="xs:int"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
                     <xs:attribute name="vocabularyName" type="xs:string"></xs:attribute>
               </xs:complexType>
         </xs:element>
   </xs:schema>
